<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhxy.eshop.mapper.BlogMapper">
    <select id="findAll" resultMap="blogMap">
        select * from blog
    </select>
    <select id="findLatestBlog" resultType="com.xhxy.eshop.entity.Blog">
        select * from blog order by createtime desc limit #{n}
    </select>

    <select id="findById" resultMap="blogMap">
        select * from blog where id = #{blogId}
    </select>
    <resultMap id="blogMap" type="com.xhxy.eshop.entity.Blog">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="pic" property="pic"/>
        <result property="createTime" column="createTime"/>
        <association property="admin" column="admin_id"
                     javaType="com.xhxy.eshop.entity.Admin"
                     select="com.xhxy.eshop.mapper.UserMapper.findById"
                     fetchType="lazy"/>

        <collection property="commentList" column="id" javaType="ArrayList"
                    ofType="com.xhxy.eshop.entity.Comment"
                    select="com.xhxy.eshop.mapper.CommentMapper.findByBlogId"
                    fetchType="lazy"/>
    </resultMap>

</mapper>
