<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhxy.eshop.mapper.OrderItemMapper">
    <select id="findByOrderId" resultMap="orderItMap">
        select * from orderitem where order_id = #{orderId}
    </select>
    <resultMap id="orderItMap" type="com.xhxy.eshop.entity.OrderItem">
        <id column="id" property="id"/>
        <result column="quantity" property="quantity"/>
        <result column="total" property="total"/>
        <association property="order" column="order_id"
                     javaType="com.xhxy.eshop.entity.Order"
                     select="com.xhxy.eshop.mapper.OrderMapper.findById"
                     fetchType="lazy"/>
        <association property="product" column="product_id"
                     javaType="com.xhxy.eshop.entity.Product"
                     select="com.xhxy.eshop.mapper.ProductMapper.findById"
                     fetchType="lazy"/>
    </resultMap>

    <insert id="save">
        insert into orderitem(product_id,quantity,order_id,total)
        values(#{product_id},#{quantity},#{order_id},#{total})
    </insert>
</mapper>
