<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>eshop</display-name>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/404.jsp</location>
  </error-page>
  <context-param>
  	<param-name>registerAddress</param-name>
  	<param-value>江苏省徐州市金山东路1号</param-value>
  </context-param>
  <context-param>
  	<param-name>email</param-name>
  	<param-value>admin@eshop.com</param-value>
  </context-param>
  <context-param>
  	<param-name>phone</param-name>
  	<param-value>+86 516 12345678</param-value>
  </context-param>
  <context-param>
  	<param-name>webName</param-name>
  	<param-value>江苏徐海电子商务网</param-value>
  </context-param>
  
  <welcome-file-list>
    <welcome-file>index</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>