<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhxy.eshop.mapper.UserMapper">
    <!--    添加用户-->
    <insert id="addUser">
        insert into user(username,password,phone,email,avatar)
        values(#{username},#{password},#{phone},#{email},#{avatar})
    </insert>
    <!--    登录-->
    <select id="login" resultType="integer">
        select * from user where username = #{username} and password = #{password}
    </select>
    <!--    查询用户-->
    <select id="findById" resultMap="userMap">
        select * from user where id = #{id}
    </select>
    <resultMap id="userMap" type="com.xhxy.eshop.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="avatar" property="avatar"/>
        <discriminator javaType="int" column="user_type">
            <case value="1" resultMap="adminMap"/>
        </discriminator>
    </resultMap>
    <resultMap id="adminMap" type="com.xhxy.eshop.entity.Admin" extends="userMap">
        <result column="department" property="department"/>
    </resultMap>

    <!--    修改信息-->
    <update id="update">
        update user
        <set>
            username=#{username},phone=#{phone},email=#{email},
            <!--当password不为null,增加password的更新-->
            <if test="password!=null">
                password=#{password},
            </if>
            <!-- 当avatar不为null，增加avatar的更新-->
            <if test="avatar!=null">
                avatar=#{avatar}
            </if>
        </set>
        where id = #{id}
    </update>
    <!--    用id获取密码-->
    <select id="findPasswordById" resultType="string">
        select password from user where id = #{id}
    </select>
</mapper>
